.contenedor {
    text-align: center;
}

#avatar {
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgb(238, 234, 234);
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 60px;
    animation: robot 5s infinite;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 5px;
    color: grey;
}

button {
    margin-top: 20px;
    padding: 5px 80px;
    border: 2px solid #4285f4;
    color: #4285f4;
    border-radius: 11px;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
    background-color: #4285f4;
    color: white;
}

@keyframes robot {
    0% {
        transform: translateY(-50px);
    }
    30% {
        transform: translateY(0) rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: translateY(-50px);
    }
}
