* {
    margin: 0 auto;
    margin-top: 50px;
}

img {
    max-width: 180px;
    opacity: 0;
    border-radius: 30px;
    margin-top: 3px;
    margin-left: 9px;
}

.img-div {
    background-color: red;
    border: 5px solid black;
    border-radius: 30px;
    width: 200px;
}

.contenedor {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
}

p {
    text-align: center;
    font-size: 50px;
}
